<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @session.date %>
</p>

<p>
  <b>Body:</b>
  <%= @session.body %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
