<h1>Listing ykt_sessions</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ykt_sessions.each do |ykt_session| %>
  <tr>
    <td><%= ykt_session.date %></td>
    <td><%= ykt_session.body %></td>
    <td><%= link_to 'Show', ykt_session %></td>
    <td><%= link_to 'Edit', edit_ykt_session_path(ykt_session) %></td>
    <td><%= link_to 'Destroy', ykt_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ykt session', new_ykt_session_path %>
