<%= simple_form_for(@horoscope) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :sign %>
    <%= f.input :desc %>
    <%= f.input :den %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
