<h1>Listing horoscopes</h1>

<table>
  <tr>
    <th>Capricorn</th>
    <th>Aquarius</th>
    <th>Pisces</th>
    <th>Aries</th>
    <th>Taurus</th>
    <th>Gemini</th>
    <th>Cancer</th>
    <th>Leo</th>
    <th>Virgo</th>
    <th>Libra</th>
    <th>Scorpio</th>
    <th>Sagittarius</th>
    <th>Den</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @horoscopes.each do |horoscope| %>
  <tr>
    <td><%= horoscope.capricorn %></td>
    <td><%= horoscope.aquarius %></td>
    <td><%= horoscope.pisces %></td>
    <td><%= horoscope.aries %></td>
    <td><%= horoscope.taurus %></td>
    <td><%= horoscope.gemini %></td>
    <td><%= horoscope.cancer %></td>
    <td><%= horoscope.leo %></td>
    <td><%= horoscope.virgo %></td>
    <td><%= horoscope.libra %></td>
    <td><%= horoscope.scorpio %></td>
    <td><%= horoscope.sagittarius %></td>
    <td><%= horoscope.desc %></td>
    <td><%= horoscope.den %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Horoscope', new_horoscope_path %>
